*{
	box-sizing: border-box;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	background: url(images/Background.png) no-repeat top center;
	background-size: cover;
}
.header {
	max-width: 87.84%;
	margin: 0 auto;
	padding: 129px 0 104px 0;
}
@media(max-width: 948px){
	.header {
	padding: 77px 0 104px 0;
}
}
.header__title {

}
.header__title-title {
	font-family: 'Roboto';
	color: #fff;
	font-size: 57px;
	margin: 0;
}
@media(max-width: 948px){
	.header__title-title {
	font-size: 47px;
}
}
@media(max-width: 800px){
	.header__title-title {
	font-size: 30px;
}
}
.header__title-subtitle {
	font-family: 'Roboto';
	color: #fff;
	font-size: 19px;
   line-height: 22px;
   margin: 8px 0 0 0;
}
@media(max-width: 948px){
	.header__title-subtitle {
	font-size: 16px;
}
}
@media(max-width: 800px){
	.header__title-subtitle {
	font-size: 14px;
}
}
.header__row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex: 50%;
}
@media(max-width: 900px) {
	.header__row {
	flex-flow: row nowrap;
	justify-content: center;
}
}
@media(max-width: 450px){
	.header__row {
	flex-flow: row wrap;
}
}
.header__level {
	margin: 60px 0 0 0;
	font-family: 'Roboto';
   font-style: normal;
   font-weight: bold;
   font-size: 50px;
   color: #fff;
}
@media(max-width: 948px){
	.header__level {
   font-size: 40px;
}
}
@media(max-width: 800px){
	.header__level {
   font-size: 20px;
}
}
.header-level_item {
	list-style: none;
	margin: 24px 0 0 0;
	padding: 0 0 0 10px;
	cursor: pointer;
	position: relative;
}
.header-level_item:hover.header-level_item::before  {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: 15px;
	left: -30px;
	cursor: pointer;
	background: url('images/Rectangle 2.png') no-repeat left center;
}
.header-button {
	flex: 0 1 95%;
}
.header__button {
	text-align:center;
	width: 352px;
   background: #D62B2E;
   padding: 26px 84px;
   border-radius: 7px;
   outline: none;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   color: #fff;
   margin: 112px 0 0 0;
   cursor: pointer;
 
}
@media(max-width: 948px){
	.header__button {
	text-align:center;
	width: 303px;
   background: #D62B2E;
   padding: 20px 58px;
   border-radius: 7px;
   outline: none;
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   color: #fff;
   margin: 112px 0 0 0;
   cursor: pointer;
}
}
@media(max-width: 800px){
	.header__button {
	width: 160px;
   padding: 7px 5px;
   font-size: 19px;
   margin: 27px 0 0 0;
}
}
.header__card {
	display: flex;
	flex-flow: row nowrap;
   position: relative;
   width: 344px;
   height: 383px;
   flex: 0 1 auto;

}
@media(max-width: 948px){
	.header__card {
		width: 291px;
      height: 343px;
      margin: 45px 0 0 0;
}
}
@media(max-width: 800px){
	.header__card {
		width: 160px;
      height: 343px;
      margin: 0 0 0 0;
}
}
@media(max-width: 449px){
		.header__card {
		width: 160px;
      height: 343px;
      margin: 45px 0 0 0;
}
}
.card__1 {
	max-width: 100%;
  position: absolute;
  top: 25px;
  z-index: 2;
  transform: rotate(30.26deg);

}
.card__2 {
  max-width: 100%;
  position: absolute;
  left: -180px;
  z-index: 1;
}
@media(max-width: 948px){
	.card__2 {
  max-width: 100%;
  position: absolute;
  left: -139px;
  z-index: 1;
}
}
@media(max-width: 800px){
	.card__2 {
  max-width: 100%;
  position: absolute;
  left: -91px;
  z-index: 1;
}
}